<ion-view cache-view="false" can-swipe-back="false" class="keycloak-view forgot-password-view">
  <div class="col alert-wrapper">
    <div class="alert alert-error" ng-if="ctrl.error && ctrl.forgotForm.$pristine">
      <i class='ion-alert-circled'></i>
      <span class="feedback-text" translate>keycloak.forgotPassword.error</span>
    </div>
  </div>
  <ion-content>
    <div class="content-wrapper">
      <div class="keycloak-logo">
        <img src="assets/images/keycloak/logo.png">
      </div>
      <form class="login-form" name="ctrl.forgotForm" ng-submit="ctrl.forgotPassword()">
        <div class="form-group">
          <div class="form-icon">
            <img src="assets/images/keycloak/email.svg">
          </div>
          <div class="form-label">
            <label for="email" class="control-label" translate>keycloak.forgotPassword.email</label>
          </div>

          <div class="form-input">
            <input id="email" class="form-control" ng-model="ctrl.email" name="email" value="" type="text" required autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" >
          </div>
        </div>

        <div class="row form-buttons">
            <button class="keycloak-button-block button button-block button-dark"
                    type="submit"
                    ng-disabled="ctrl.forgotForm.$invalid"
                    translate>
              keycloak.forgotPassword.submit
            </button>
        </div>
      </form>

      <div class="info-container" class="">
        <span translate>keycloak.forgotPassword.info</span>
        <br/><br/>
        <a ui-sref="keycloakLogin" translate>keycloak.forgotPassword.back</a>
      </div>
    </div>
  </ion-content>
</ion-view>
