<ion-view cache-view="false" can-swipe-back="false" class="keycloak-view register-view">
  <div class="alert alert-error" ng-if="ctrl.error && ctrl.registerForm.$pristine">
    <i class='ion-alert-circled'></i>
    <span ng-if="ctrl.errorType === 'keycloak.conflict'" class="feedback-text" translate>keycloak.invalidEmail</span>
    <span ng-if="ctrl.errorType === 'wrongConfPassword'" class="feedback-text" translate>keycloak.invalidConfPassword</span>
    <span ng-if="ctrl.errorType !== 'wrongConfPassword' && ctrl.errorType !== 'keycloak.conflict'" class="feedback-text">{{'keycloak.' + ctrl.errorType | translate}}</span>
  </div>
  <ion-content>
    <div class="content-wrapper">
      <form class="register-form" name="ctrl.registerForm" ng-submit="ctrl.register()">
        <div class="form-group">
          <div class="form-icon">
            <img src="assets/images/keycloak/firstName.svg">
          </div>
          <div class="form-label">
            <label for="firstName" class="control-label" translate>keycloak.register.firstName</label>
          </div>

          <div class="form-input">
            <input id="firstName" class="form-control" ng-model="ctrl.user.firstName" name="firstName" value="" type="text" required>
          </div>
        </div>

        <div class="form-group">
          <div class="form-icon">
              <img src="assets/images/keycloak/lastName.svg">
          </div>
          <div class="form-label">
              <label for="lastName" class="control-label" translate>keycloak.register.lastName</label>
          </div>

          <div class="form-input">
              <input id="lastName" class="form-control" ng-model="ctrl.user.lastName" name="lastName" value="" type="text" required>
          </div>
        </div>

        <div class="form-group" ng-class="{'email-with-hint' : ctrl.keycloakService.addEmailHint}">
          <div class="form-icon">
              <img src="assets/images/keycloak/email.svg">
          </div>
          <div class="form-label">
              <label for="email" class="control-label" translate>keycloak.register.email</label>
          </div>

          <div class="form-input">
              <input id="email" class="form-control" ng-model="ctrl.user.email" name="email" value="" type="email" required autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" >
          </div>
        </div>
        <div class="form-label" ng-if="ctrl.keycloakService.addEmailHint">
          <label for="password" class="control-label email-hint" translate>keycloak.register.emailHint</label>
        </div>

        <div class="form-group username-field">
          <div class="form-icon">
              <img src="assets/images/keycloak/username.svg">
          </div>
          <div class="form-label">
              <label for="username" class="control-label" translate>keycloak.register.username</label>
          </div>

          <div class="form-input">
              <input id="username" class="form-control" ng-model="ctrl.user.pseudo" name="username" value="" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" >
          </div>
        </div>

        <div class="form-group password-with-hint">
          <div class="form-icon">
            <img src="assets/images/keycloak/password.svg">
          </div>
          <div class="form-label">
            <label for="password" class="control-label" translate>keycloak.register.password</label>
          </div>

          <div class="form-input">
            <input id="password" ng-model="ctrl.user.password" class="form-control" name="password" type="password" autocomplete="off"  autocorrect="off" autocapitalize="off" spellcheck="false" required>
          </div>
        </div>
        <div class="form-label">
          <label for="password" class="control-label password-hint" translate>keycloak.register.passwordHint</label>
        </div>

        <div class="form-group password-with-hint">
          <div class="form-icon">
              <img src="assets/images/keycloak/password.svg">
          </div>
          <div class="form-label">
              <label for="confirmPassword" class="control-label" translate>keycloak.register.confirmPassword</label>
          </div>
          <div class="form-input">
              <input id="confirmPassword" ng-model="ctrl.confirmPassword" class="form-control" name="confirmPassword" type="password" autocomplete="off"  autocorrect="off" autocapitalize="off" spellcheck="false" required>
          </div>
        </div>
        <div class="form-label" ng-if="(ctrl.confirmPassword !== ctrl.user.password && ctrl.confirmPassword !== '')">
          <label for="password" class="control-label password-hint" translate>keycloak.invalidConfPassword</label>
        </div>

        <div class="row form-buttons">
            <button class="keycloak-button-block button button-block button-dark"
                    type="submit"
                    ng-disabled="ctrl.registerForm.$invalid || (ctrl.confirmPassword !== ctrl.user.password && ctrl.confirmPassword !== '') "
                    translate>
              keycloak.register.register
            </button>
        </div>
      </form>

      <div class="info-container" class="">
          <a ui-sref="keycloakLogin" translate>keycloak.register.back</a>
      </div>
    </div>
  </ion-content>
</ion-view>
