<ion-view cache-view="false" can-swipe-back="false" class="keycloak-view forgot-password-view">
    <div class="col alert-wrapper">
      <div class="alert alert-error" ng-if="ctrl.error && ctrl.forgotForm.$pristine">
        <i class='ion-alert-circled'></i>
        <span class="feedback-text" translate>keycloak.forgotPassword.error</span>
      </div>
    </div>
    <ion-content>
      <div class="content-wrapper">
        <div class="keycloak-logo">
          <img src="assets/images/keycloak/logo.png">
        </div>
        <div class="text-justify terms-conditions" ng-bind-html="ctrl.termsConditions">
        </div>
      </div>
    </ion-content>
    <ion-footer-bar class="action-footer">
      <button class="button button-dark pull-left"
              ng-click="ctrl.decline()"
              translate>
        keycloak.termsConditions.decline
      </button>
      <button class="button button-dark item-center"
              ng-click="ctrl.accept()"
              translate>
        keycloak.termsConditions.accept
      </button>
    </ion-footer-bar>
</ion-view>
