<ion-view  view-title="{{'keycloak.termsConditions.termsConditions' | translate}}" class="keycloak-view forgot-password-view">
    <ion-content>
      <div class="content-wrapper">
        <div class="keycloak-logo">
          <img src="assets/images/keycloak/logo.png">
        </div>
        <div class="text-justify terms-conditions" ng-bind-html="ctrl.termsConditions">
        </div>
      </div>
    </ion-content>
</ion-view>
