$keycloak-login-background-image: "" !default;
$keycloak-login-background-position: center center !default;
$keycloak-register-background-image: "" !default;
$keycloak-register-background-position: center center !default;
$keycloak-forgot-password-background-image: "" !default;
$keycloak-forgot-password-background-position: center center !default;
$keycloak-background-color: #000 !default;
$keycloak-text-color: white !default;
$keycloak-accent-color: lightgray !default;
$keycloak-input-separator-color: rgba(255, 255, 255, 0.2) !default;
$keycloak-username-visibility: block !default;


.keycloak-view {
  width: 100%;
  height: 100%;
  background-color: $keycloak-background-color;
  background-repeat: no-repeat;
  background-size: cover;

  &.login-view {
    background-image: url($keycloak-login-background-image);
    background-position: $keycloak-login-background-position;
  }

  &.register-view {
    background-image: url($keycloak-register-background-image);
    background-position: $keycloak-register-background-position;
  }

  &.forgot-password-view {
    background-image: url($keycloak-forgot-password-background-image);
    background-position: $keycloak-forgot-password-background-position;
  }

  .content-wrapper {
    padding: 0 20px;
    margin-top: 50px;
  }

  .form-group {
    margin: 15px;
    position: relative;
    border-bottom: 1px solid $keycloak-input-separator-color;

    .form-icon {
      padding: 0;
      position: absolute;
      left: 0;
      top: 5px;

      img {
        max-width: 30px;
        max-height: 30px;
      }
    }

    .form-label {
      font-variant: small-caps;
      color: $keycloak-accent-color;
    }

    .form-label, .form-input {
      margin-left: 25px;
      padding: 0 20px;
    }

    .form-buttons {
      padding-top: 10px;
    }

    .form-control {
      border: none;
      background-color: transparent;
      color: $keycloak-text-color;
      padding-left: 0px;
      padding-top: 0px;
      width: 100%;
    }
  }

  .keycloak-button-block {
    text-transform: capitalize;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .info-container {
    font-size: 12px;
    font-variant: small-caps;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
    line-height: 12px;

    a {
      text-decoration: none;
      color: $keycloak-accent-color;
    }
  }

  .keycloak-logo {
    max-height: 200px;
    overflow: hidden;
    margin: auto;
    max-width: 60%;
    margin-top: 70px;
    margin-bottom: 20px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .username-field {
    display: $keycloak-username-visibility;
  }

  .alert-error {
    border-color: #cc0000;
    color: white;

    i {
      color: #cc0000;
    }
  }

  .alert-success {
    border-color: #3f9c35;
    color: white;

    i {
      color: #3f9c35;
    }
  }

  .alert {
    padding: 7px;
    padding-left: 34px;
    position: relative;
    border-width: 2px;
    border-style: solid;
    margin: 20px;

    i {
      font-size: 20px;
      position: absolute;
      left: 7px;
      top: 7px;
    }
  }

  .password-with-hint, .email-with-hint {
    margin-bottom: 0px;
  }
  .password-hint, .email-hint {
    font-style: italic;
    font-size: 12px;
    margin-left: 55px;
    display: block;
  }

  .register-form {
    padding-top: 20px;
  }

  .terms-conditions {
    white-space: pre-line;
  }

  .remember-me-toogle {
    border: none;
  }

  .remember-me-wrapper {
    border-bottom: none;
  }

  .social-network-btn {
    display: inline-block;
    padding: 0;
    margin: 5px;
  }
}
