<ion-view cache-view="false" can-swipe-back="false" class="keycloak-view login-view">
  <div class="col alert-wrapper">
    <div class="alert alert-error" ng-if="ctrl.error && ctrl.loginForm.$pristine">
      <i class='ion-alert-circled'></i>
      <span class="feedback-text" translate>keycloak.login.wrongCredentials</span>
    </div>
    <div class="alert alert-success" ng-if="ctrl.keycloakService.loginMessage && ctrl.loginForm.$pristine">
      <i class='ion-checkmark-circled'></i>
      <span class="feedback-text" translate>keycloak.login.emailSent</span>
    </div>
  </div>
  <ion-content>
    <div class="content-wrapper">
      <div class="keycloak-logo">
        <img src="assets/images/keycloak/logo.png">
      </div>
      <form class="login-form" name="ctrl.loginForm" ng-submit="ctrl.login(ctrl.username, ctrl.password)">
        <div class="form-group">
          <div class="form-icon">
            <img src="assets/images/keycloak/email.svg">
          </div>
          <div class="form-label">
            <label for="username" class="control-label" translate>keycloak.login.username</label>
          </div>

          <div class="form-input">
            <input id="username" class="form-control" ng-model="ctrl.username" name="username" value="" type="text" required autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" >
          </div>
        </div>

        <div class="form-group">
          <div class="form-icon">
            <img src="assets/images/keycloak/password.svg">
          </div>
          <div class="form-label">
            <label for="password" class="control-label" translate>keycloak.login.password</label>
          </div>

          <div class="form-input">
            <input id="password" ng-model="ctrl.password" class="form-control" name="password" type="password" autocomplete="off" required autocorrect="off" autocapitalize="off" spellcheck="false" >
          </div>
        </div>

        <div class="form-group remember-me-wrapper" ng-if="ctrl.keycloakService.rememberMe">
          <ion-toggle class="remember-me-toogle" ng-model="ctrl.rememberMe" toggle-class="toggle-dark">
            {{'keycloak.login.rememberMe' | translate}}
          </ion-toggle>
        </div>

        <div class="row form-buttons">
            <button class="keycloak-button-block button button-block button-dark"
                    type="submit"
                    ng-disabled="ctrl.loginForm.$invalid"
                    translate>
              keycloak.login.login
            </button>
        </div>
      </form>
      <div class="social-network-container text-center" ng-if="ctrl.keycloakService.socialNetworks !== null">
        <span translate>keycloak.login.loginWith</span><br/>
        <a class="facebook-btn social-network-btn"
                type="button"
                ng-click="ctrl.loginWithFacebook()"
                ng-if="ctrl.keycloakService.socialNetworks.facebook !== undefined">
          <img height="35" ng-src="{{ctrl.keycloakService.socialNetworks.facebook.image}}"/>
        </a>
        <a class="google-btn social-network-btn"
                type="button"
                ng-click="ctrl.loginWithGoogle()"
                ng-if="ctrl.keycloakService.socialNetworks.google !== undefined">
          <img height="35" ng-src="{{ctrl.keycloakService.socialNetworks.google.image}}"/>
        </a>
        <a class="twitter-btn social-network-btn"
                type="button"
                ng-click="ctrl.loginWithTwitter()"
                ng-if="ctrl.keycloakService.socialNetworks.twitter !== undefined">
          <img height="35" ng-src="{{ctrl.keycloakService.socialNetworks.twitter.image}}"/>
        </a>
        <a class="linkedin-btn social-network-btn"
                type="button"
                ng-click="ctrl.loginWithLinkedin()"
                ng-if="ctrl.keycloakService.socialNetworks.linkedin !== undefined">
          <img height="35" ng-src="{{ctrl.keycloakService.socialNetworks.linkedin.image}}"/>
        </a>
      </div>

      <div class="info-container">
          <span><a ui-sref="keycloakForgotPassword" translate>keycloak.login.forgot</a></span>
          <br/><br/>
          <span translate>keycloak.login.noAccount</span> <a ui-sref="keycloakRegister" translate>keycloak.login.signup</a>
      </div>
    </div>
  </ion-content>
</ion-view>
